.ad{
  display:block;
  margin-top:10px;
}
.iconfont{
  background-image:url("../images/img/head.png");
  display:inline-block;
  margin-right:10px;
  vertical-align:middle;
}
//banner
.banner{
  height:400px;
  position:relative;
  ul{
    position:relative;
    li{
      position:absolute;
      top: 0;
      img{
        display:block;
        width:100%;
        height:400px;
      }
    }

  }
  .active{
    background:yellow !important;
  }
}