.main {
  width: 1200px;
}
.info {
  margin-top: 20px;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-top: 30px;
}
.info .left {
  position: relative;
  padding-left: 20px;
  box-sizing: border-box;
  width: 420px;
  float: left;
}
.info .left .smallImg {
  position: relative;
}
.info .left .smallImg .smallArea {
  display: none;
  background-color: blue;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
}
.info .left .bigArea {
  z-index: 999;
  display: none;
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  position: absolute;
  top: 0;
  right: -400px;
  overflow: hidden;
}
.info .left .bigArea .bigImg {
  position: absolute;
  top: 0;
  left: 0;
}
.info .left ul {
  width: 420px;
  padding-top: 20px;
}
.info .left ul li {
  margin-left: 10px;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  float: left;
}
.info .left ul li img {
  width: 100%;
}
.info .left ul li.active {
  border: 2px solid #c00;
}
.info .left .focus,
.info .left .share {
  color: #666;
}
.info .left .focus i,
.info .left .share i {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../images/img/bg1.png);
  opacity: .5;
}
.info .left .focus:hover,
.info .left .share:hover {
  color: #c00;
  text-decoration: underline;
}
.info .left .focus:hover i,
.info .left .share:hover i {
  opacity: 1;
}
.info .left .focus i {
  background-position: -41px -283px;
}
.info .left .share i {
  background-position: -41px -309px;
}
.info .right {
  width: 550px;
  box-sizing: border-box;
  padding: 20px;
  float: left;
}
.info .right h2 {
  font-size: 16px;
  line-height: 22px;
}
.info .right .msg {
  font-size: 14px;
  color: #999;
}
.info .right ul li span {
  float: left;
  width: 65px;
  color: #666;
  line-height: 30px;
}
.info .right ul li .content {
  width: 445px;
  float: left;
  padding-top: 6px;
}
.info .right ul .price {
  background-color: #f7f7f7;
}
.info .right ul .price i {
  color: #c00;
}
.info .right ul .price i em {
  font-size: 20px;
  font-weight: bold;
}
.info .right ul .promotion {
  background-color: #f7f7f7;
  padding-bottom: 10px;
}
.info .right ul .promotion i {
  background-color: #c00;
  color: #fff;
}
.info .right ul .promotion img {
  vertical-align: top;
  border: 1px solid #ccc;
}
.info .right ul .promotion em {
  padding: 0 10px;
  vertical-align: top;
  line-height: 50px;
}
.info .right ul .delivery {
  position: relative;
}
.info .right ul .delivery i {
  border: 1px solid #ccc;
  line-height: 20px;
  padding: 0 10px;
  margin-right: 20px;
}
.info .right ul .delivery i strong {
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 4px;
  background: url("../images/img/topbar_ico.png") 0 0 no-repeat;
  background-position: 0 -45px;
}
.info .right ul .delivery .menu {
  display: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  top: 23px;
  left: 63px;
  width: 400px;
}
.info .right ul .delivery .menu ul {
  border-bottom: 2px solid #c00;
}
.info .right ul .delivery .menu ul li {
  float: left;
  width: 80px;
  text-align: center;
  border: 1px solid #ccc;
  border-bottom: 0;
  margin: 0 10px;
  line-height: 20px;
  background-color: #fff;
  position: relative;
  top: 2px;
  z-index: -1;
}
.info .right ul .delivery .menu ul .active {
  border: 2px solid #c00;
  border-bottom: 0;
  z-index: 1;
}
.info .right ul .delivery .menu ol li {
  cursor: pointer;
  line-height: 30px;
  width: 90px;
  float: left;
}
.info .right ul .delivery .menu ol li:hover {
  color: #c00;
  text-decoration: underline;
}
.info .right ul .evaluation a {
  padding: 0 10px;
  color: #333;
}
.info .right ul .evaluation a i {
  color: red;
}
.info .right ul .evaluation a:hover {
  text-decoration: underline;
  color: #c00;
}
.info .right ul .evaluation a:hover i {
  color: #c00;
}
.info .right ul .service {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.info .right ul .service p a:hover {
  color: #c00;
  text-decoration: underline;
}
.info .right ul .service ul li {
  line-height: 30px;
  float: left;
  margin-right: 20px;
}
.info .right ul .service ul li a {
  color: #333;
}
.info .right ul .edition,
.info .right ul .goodsColor,
.info .right ul .colorSuit,
.info .right ul .ram,
.info .right ul .method,
.info .right ul .suit {
  margin: 10px 0;
}
.info .right ul .edition p,
.info .right ul .goodsColor p,
.info .right ul .colorSuit p,
.info .right ul .ram p,
.info .right ul .method p,
.info .right ul .suit p {
  cursor: pointer;
  position: relative;
  float: left;
  padding: 0 10px;
  border: 2px solid #ccc;
  margin-right: 20px;
  line-height: 20px;
}
.info .right ul .edition p i,
.info .right ul .goodsColor p i,
.info .right ul .colorSuit p i,
.info .right ul .ram p i,
.info .right ul .method p i,
.info .right ul .suit p i {
  background-image: url(../images/img/bg1.png);
}
.info .right ul .edition p:hover,
.info .right ul .goodsColor p:hover,
.info .right ul .colorSuit p:hover,
.info .right ul .ram p:hover,
.info .right ul .method p:hover,
.info .right ul .suit p:hover {
  border: 2px solid #c00;
}
.info .right ul .edition p.active,
.info .right ul .goodsColor p.active,
.info .right ul .colorSuit p.active,
.info .right ul .ram p.active,
.info .right ul .method p.active,
.info .right ul .suit p.active {
  border: 2px solid #c00;
}
.info .right ul .edition p.active i,
.info .right ul .goodsColor p.active i,
.info .right ul .colorSuit p.active i,
.info .right ul .ram p.active i,
.info .right ul .method p.active i,
.info .right ul .suit p.active i {
  display: block;
  position: absolute;
  right: -1px;
  bottom: 0px;
  _right: 0;
  width: 10px;
  height: 10px;
  background-position: 0 -346px;
  font: 0/0 arial;
}
.info .right ul .suit .content {
  position: relative;
  height: 88px;
}
.info .right ul .suit h3 {
  position: absolute;
  top: 30px;
  font-size: 12px;
  margin: 5px 0;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  display: none;
}
.info .right ul .suit h3.active {
  display: block;
}
.info .right ul .num .del,
.info .right ul .num .add,
.info .right ul .num .count {
  border: 1px solid #ccc;
  float: left;
  padding: 0 15px;
}
.info .right ul .num .del,
.info .right ul .num .add {
  cursor: pointer;
  background-color: #f7f7f7;
}
.info .right ul .num strong {
  margin-left: 10px;
  float: left;
}
.info .right .buy,
.info .right .addToCart {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  width: 140px;
  height: 50px;
  margin-top: 20px;
}
.info .right .buy {
  background: #c00;
  color: #fff;
  margin-left: 100px;
  margin-right: 20px;
}
.info .right .addToCart {
  box-sizing: border-box;
  color: #c00;
  border: 1px solid #ffd9d9;
  background-color: #ffeded;
}
.like {
  margin: 20px auto;
  border: 1px solid #ccc;
}
.like h2 {
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
  font: 14px/32px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  line-height: 32px;
  border-bottom: 1px solid #ccc;
  background: #fafafa;
}
.like ul {
  width: 1200px;
  position: relative;
  top: -1px;
  box-sizing: border-box;
  padding: 20px 0 13px 14px;
}
.like ul li {
  padding: 10px 20px;
  float: left;
}
.like ul li a {
  text-align: center;
}
.like ul li a img {
  width: 150px;
  height: 150px;
  display: block;
  border: 1px solid #ccc;
}
.like ul li a span {
  display: block;
  padding-top: 13px;
  color: #666;
}
.like ul li a p {
  font-size: 16px;
  font-weight: bold;
  color: red;
}
.like ul li a:hover span {
  color: red;
  text-decoration: underline;
}
.details .left {
  width: 200px;
  float: left;
}
.details .left h3 {
  height: 33px;
  line-height: 33px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  padding: 0 15px;
  color: #666;
}
.details .left dl dt form {
  border: 1px solid #ccc;
  border-top: 0;
  box-sizing: border-box;
  padding: 15px;
}
.details .left dl dt form input {
  width: 48px;
  border: 1px solid #ccc;
  height: 24px;
  margin-bottom: 10px;
}
.details .left dl dt form input:nth-child(1) {
  width: 120px;
}
.details .left dl dd {
  margin-top: 20px;
}
.details .left dl dd .left_top div {
  border: 1px solid #ccc;
  border-top: 0;
  text-align: center;
  line-height: 30px;
}
.details .left dl dd .left_top div a {
  padding: 0 10px;
  color: #333;
}
.details .left dl dd ul li .toggle {
  background-position: -23px -570px;
}
.details .left dl dd ul li h3 {
  cursor: pointer;
  background: #f7f7f7 url(../images/img/bg1.png) no-repeat -23px -602px;
  padding-left: 40px;
  border-top: 0;
}
.details .left dl dd ul li ol {
  padding-left: 43px;
  border: 1px solid #ccc;
  border-top: 0;
}
.details .left dl dd ul li ol li {
  line-height: 22px;
  padding-left: 15px;
  background: url(../images/img/bg1.png) no-repeat -56px -468px;
}
.details .left dl dd ul li ol li a {
  color: #999;
}
.details .right {
  margin-left: 10px;
  width: 990px;
  float: right;
}
.details .right .right_menu {
  height: 33px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.details .right .right_menu li {
  cursor: pointer;
  line-height: 31px;
  padding: 0 15px;
  float: left;
  border-right: 1px solid #ccc;
  position: relative;
}
.details .right .right_menu li i {
  color: #c00;
  font-weight: bold;
  font-size: 14px;
}
.details .right .right_menu li:hover {
  color: #c00;
}
.details .right .right_menu li:nth-child(7) {
  position: relative;
  background: url(../images/img/bg1.png) -24px -1233px no-repeat;
  padding-left: 40px;
}
.details .right .right_menu li:nth-child(7) img {
  width: 91px;
  position: absolute;
  top: 31px;
  left: 10px;
  display: none;
}
.details .right .right_menu li:nth-child(7) i {
  display: inline-block;
  width: 5px;
  height: 3px;
  background: url(../images/img/bg1.png) 0 -1241px no-repeat;
}
.details .right .right_menu .active {
  border-top: 2px solid #c00;
  background-color: #fff;
  top: -1px;
}
.details .right dl {
  padding-top: 20px;
}
.details .right dl dt {
  float: left;
  width: 790px;
}
.details .right dl dt ol {
  width: 790px;
}
.details .right dl dt ol .active {
  display: block;
}
.details .right dl dt ol li {
  display: none;
  width: 790px;
}
.details .right dl dt ol li p {
  line-height: 30px;
}
.details .right dl dt ol li div {
  overflow: hidden;
}
.details .right dl dt ol li div img {
  float: left;
}
.details .right dl dt ol li img {
  display: block;
}
.details .right dl dd {
  width: 200px;
  float: left;
}
