.main{
  width:1200px;
}
.search1{
  margin-top:20px;
}
.all{
  padding-top:30px;
  ul{
    padding-top:30px;
    li input{
      margin-left:20px;
    }
  }
  ol{
    padding-top:30px;
    li input{
      margin-left:20px;
    }
  }
}
.list_menu{

  width:960px;
  float:left;
  ol{
    li{
      width:240px;
      height:380px;
      box-sizing:border-box;
      padding:20px;
      float:left;
      img{
        width:200px;
        height:200px;
      }
      .price{
        color:#c00;
      }
    }
  }
}
.ad{

  width:220px;
  float:right;
  box-sizing:border-box;

  ul{
    border:1px solid #ccc;
    border-top:0;
    padding:10px;
    li{
      text-align:center;
      img{
        width:180px;
      }
      .goodsName{
        display:block;
        text-align:left;
        padding:0 10px;
        color:#333;
        line-height:15px;
        height:30px;
        overflow:hidden;
      }
      .goodsName:hover,.shop:hover{
        color:#c00;
        text-decoration:underline;
      }
      .price{
        text-align:left;
        padding:0 10px;
        line-height:30px;
        font-size:16px;
        color:red;
      }
      .shop{
        padding:0 10px;
        display:block;
        line-height:30px;
        color:#333;
        text-align:left;
      }
      .address{
        padding:0 10px;
        padding-left:20px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        background:url(../images/img/address-ico.png) no-repeat 10px center;
      }
    }
  }
}
.list_menu,.ad{
  height:2000px;
  margin-top:20px;
  .hd{
    border:1px solid #ccc;
    line-height:30px;
    padding:0 15px;
    height:30px;
    background-color:#f7f7f7;
    span{
      float:right;
      font-size:12px;
      color:#ccc;
    }
  }
}

.activity{
  padding-bottom:30px;
  h2{
    width:300px;
    margin:0 auto;
    border-bottom:1px solid #ccc;
    position:relative;
    span{
      position:absolute;
      bottom:-15px;
      padding:0 30px;
      left:50px;
      color:#ccc;
      font-size:18px;
      background-color:#fff;
    }
  }
  ul{
    padding:30px 0;
    margin-left:-20px;
    li{
      float:left;
      margin-left:20px;
    }
  }
}

.myform{
  margin:0 auto;
  width:536px;

  input{
    height:32px;
    border:2px solid #c00;
    outline:none;
    box-sizing:border-box;
    float:left;
  }
  input[type="text"]{
    width:470px;
    padding:10px;
  }
  input[type="submit"]{
    padding:0 10px;
    border-left:0;
    background-color:red;
    color:#fff;
    font-size:16px;
    line-height:32px;
  }
}
