.search1{
  width:100%;
  background-color:#fff;
  position:relative;
  z-index:995;
  .iconfont{
    background-image:url("../images/img/head.png");
    display:inline-block;
    margin-right:10px;
    vertical-align:middle;
  }
  .main{
    height:60px;
  }
  .logo{
    float:left;
    line-height:60px;
    img{
      vertical-align:middle;
    }
  }
  .menu{
    padding-top:15px;
    position:relative;
    float:left;
    margin-left:20px;
    p{
      background:#fff;
      padding:0 10px;
      cursor:pointer;
      width:50px;
      height:28px;
      border:1px solid #ccc;
      line-height:28px;
      position:relative;
      z-index:999;
      i{
        margin:5px;
        display:inline-block;
        vertical-align:middle;
        width:7px;
        height:4px;
        background:url("../images/img/topbar_ico.png") 0 0 no-repeat;
        background-position:0 -45px;
      }
    }

    ul{
      background:#fff;
      position:absolute;
      top:43px;
      width:150px;
      border:1px solid #ccc;
      overflow:hidden;
      z-index:999;
      display:none;
      li{
        cursor:pointer;
        float:left;
        padding:10px;
        a{
          color:#333;
          padding:5px;
        }
        a:hover{
          background:#ccc;
        }
      }

    }
  }
  #myform{
    width:540px;
    height:36px;
    box-sizing:border-box;
    border:2px  solid #ec3639;
    float:left;
    margin:12px 0 0 70px;
    .text{
      height:31px;
      outline:none;
      padding-left:10px;
      width:280px;
    }
    .sub{
      height:32px;
      background:#ec3639;
      float:right;
      padding:0 20px;
      color:#fff;
      font-size:16px;
      cursor:pointer;
    }
    a{
      float:right;
      padding:0 5px;
      margin-top:7px;
      line-height:18px;
      background-color:#ccc;
      color:#333;
      margin-right:10px;
    }
    a:hover{
      color:#fff;
      background-color:#ec3639;
    }
  }
  ol{
    font-size:14px;
    padding-top:20px;
    float:right;
    li{
      padding-left:20px;
      float:left;
      a{
        position:relative;
        color:#333;
        span{
          width:15px;
          height:15px;
          border-radius:50%;
          background-color:red;
          color:#fff;
          position:absolute;
          font-size:10px;
          text-align:center;
          line-height:15px;
          top:-5px;
          left: 5px;
        }
      }

    }
    li:nth-child(1){
      a:hover{
        color: #ec3639;
        i{
          background-position-x:-30px;
        }
      }
       i{
         background-position:0 -167px;
         width:19px;
         height:18px;
       }
     }
    li:nth-child(2){
      a:hover{
        color: #ec3639;
        i{
          background-position:-28px -190px;
        }
      }
      i{
        width:22px;
        height:18px;
        background-position:0 -190px;
      }
    }
    li:nth-child(3){
      a:hover{
        color: #ec3639;
        i{
          background-position:-32px -211px;
        }
      }
      i{
        width:18px;
        height:18px;
        background-position:0 -211px;
      }
    }
  }
}